Defining  an  "adopted  user"   as  a  user  who   has  logged  into  the  product  on  three  separate
days  in  at  least  one  sevenÂ­day  period ,  identify  which  factors  predict  future  user
adoption .

In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
import datetime
%matplotlib inline
import numpy as np
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [33]:
df_engage=pd.read_csv("takehome_user_engagement.csv", encoding='latin-1', parse_dates=['time_stamp'])

In [34]:
df_engage.head()

           time_stamp  user_id  visited
0 2014-04-22 03:53:30        1        1
1 2013-11-15 03:45:04        2        1
2 2013-11-29 03:45:04        2        1
3 2013-12-09 03:45:04        2        1
4 2013-12-25 03:45:04        2        1

In [35]:
df_engage.shape

(207917, 3)

In [36]:
#count the number of missing values
miss_value = pd.concat([df_engage.isnull().sum(), 100 * df_engage.isnull().mean()], axis=1)
miss_value.columns=['count', '%']
miss_value.sort_values(by=['%'],ascending=False)

            count    %
time_stamp      0  0.0
user_id         0  0.0
visited         0  0.0

Nothing is missing, awesome

In [37]:
print("There are ", + len(pd.unique(df_engage['user_id'])), ' unique users', " out of ", len(df_engage['user_id']))

There are  8823  unique users  out of  207917

In [38]:
df_users = pd.read_csv("takehome_users.csv", encoding='latin-1', parse_dates=True)

In [39]:
df_users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [40]:
#count the number of missing values
miss_value = pd.concat([df_users.isnull().sum(), 100 * df_users.isnull().mean()], axis=1)
miss_value.columns=['count', '%']
miss_value.sort_values(by=['%'],ascending=False)

                            count       %
invited_by_user_id           5583  46.525
last_session_creation_time   3177  26.475
object_id                       0   0.000
creation_time                   0   0.000
name                            0   0.000
email                           0   0.000
creation_source                 0   0.000
opted_in_to_mailing_list        0   0.000
enabled_for_marketing_drip      0   0.000
org_id                          0   0.000

Over 46.5% is missing in the invited by user ide column. last session creation time is missing 26% of its value.

# Data Cleaning

In [41]:
# Convert datetime columns to datetime format
df_engage['time_stamp'] = pd.to_datetime(df_engage['time_stamp'], format='%Y-%m-%d %H:%M:%S')
df_users['creation_time'] = pd.to_datetime(df_users['creation_time'], format='%Y-%m-%d %H:%M:%S')

In [42]:
df_users = df_users.drop(['org_id', 'invited_by_user_id'], axis=1) # drop the two columns that are missing values

In [43]:
# universal time conversion
df_users['last_session_creation_time'] = pd.to_datetime(df_users['last_session_creation_time'], unit = 's')

# Create the adopted user table

Defining an "adopted user" as a user who has logged into the product on three separate days in at least one sevenÂ­day period , identify which factors predict future user adoption .

In [44]:
#df_engage['user_id'] = df_engage['user_id'].nunique(dropna = True)
df_engage = df_engage.set_index('time_stamp', drop= True)
#df_engage['time_stamp'] = df_engage['time_stamp'].nunique(dropna = True)

In [45]:
days_change = timedelta(days=7)

In [46]:

def label_adopted(x):    
    df_temp = df_engage.loc[df_engage['user_id'] == x] #select out rows of this user
    df_temp = df_temp.resample('D').mean().dropna() #resample to show if active in a day. .mean() is just of 1
    adopted = 0
    for i in range(len(df_temp)-2): #loop over active days till the second to last day
        if df_temp.index[i + 2] - df_temp.index[i] <= timedelta(days=7): # difference between every 1st and 3rd day
            adopted = 1
            break
        else:
            adopted = 0
    return adopted

In [ ]:
df_users['adopted_user'] = df_users['object_id'].apply(label_adopted)

print('There were {} adopted users out of {} users'.format(
    sum(adopted), len(adopted)))

# Remove index
three_logins.reset_index(drop=True, inplace = True)

# Finding how many of the 2248 unique three-logins users are adopted users 
# who have logged in three separate days in at least one 7 day period 

adopted = 0
adopted_users = []
for i in range(len(three_logins)-2):
    user = three_logins['user_id'][i]
    if user != adopted and user == three_logins['user_id'][i+2]:
    # Get start date 
        sd = pd.Timestamp(three_logins['time_stamp'][i])
        # 7 days period end date
        ed = sd + pd.Timedelta('7D')
        if sd < pd.Timestamp(three_logins['time_stamp'][i+1]) < ed and sd < \
        pd.Timestamp(three_logins['time_stamp'][i+2]) < ed:
            adopted_users.append(user)
            adopted = user